// 頁面（瀏覽器）與物件的間距：外間距--上下為0，左右自動；內間距上下左右為0；設定在 「*」（通用選擇器）
* {
    // 外間距--上下為0，左右自動 margin；若物件寬度小於 100% 時，物件將會自動 垂直 置中
    margin: 0 auto;
    // 內間距上下左右為0 padding
    padding: 0;
}
body,
html {
    // 寬度
    width: 100%;
    // 最大寬度
    max-width: 100%;
    // 高度
    height: 100%;
}
// 圖片等比控制
img {
    // 寬度為 100%；高度自動
    width: 100%;
    height: auto;
}

a {
    // 底線樣式隱藏
    text-decoration: none;

    // 更改連結顯示顏色
    color: orangered;
}

// 變數區
// vw 在父框架與子框架之間，會呈現誤差值；所以建議單位用 %
$W10: 10vw;
// 百分比單位
$W1P: 10%;
/* 
文字尺寸 單位 px（固定值） em（百分比，會疊加父框架設定的值） rem（百分比，不會疊加父框架設定的值）
em 基礎為 1em = 16px ；rem 基礎為 1rem = 16px
*/
$Trem: 1rem;

// 繼承區（相同樣式）；將 scss 的繼承功能，寫在共用檔內，因為位置編排有誤，故造成 編譯 時出錯
/* 
You may not @extend an outer selector from within @media.
You may only @extend selectors within the same directive.
無法由 @media（媒體判斷）去呼叫「外部連結檔」
*/
%DN {
    // 隱藏
    display: none;
}

// 計算區
// 計算 header Logo 與 MenuBtn 之間的寬度 手機裝置
@mixin LBW($WM, $WA) {
    // 計算區 1.設變數（承載值的物件名稱）$WM=倍數 $WA=加的數值
    $LogoW: $W10 * $WM + $WA;
    //  MenuBtn寬度 = 父框架的總寬度（100） - Logo寬度（85）
    $MBW: $W10 * 10 - $LogoW;

    // 連動 計算寬度 Logo 與 MenuBtn

    // 呼叫 id (標籤 或 id class)
    #YudoLogo {
        // 寬度
        width: $LogoW;
    }
    #MenuBtn {
        //  寬度
        width: $MBW;
    }
}

// 撰寫 scss 的「混合函式 mixin」，修正 scss 的繼承功能，無法被 @media 使用的問題
@mixin DN {
    display: none;
}

// 開啟隱藏物件
@mixin OB {
    // 顯示方式：區塊
    display: block;
}

// 清除浮動 float
@mixin ClearFloat {
    // 清除左右浮動
    clear: both;
}

// 隱藏項目符號
@mixin DNli {
    list-style-type: none;
}

// 商品 廣告背景圖片語法
@mixin BPhoto($PosiTion, $Size, $Material, $Image) {
    // 變數設定 1.對齊 $PosiTion  2.尺寸 $Size 3.資料夾位置 $Material ；圖片 $Image
    // 問題：路徑無法直接讀取變數名稱
    // 解答：scss提供的語法，插值寫法（基於 javascript 的 es6 語法），#{ 自訂名稱（只能英文和數字）}，例如：#{$Image}，寫在路徑上
    width: $W10 * 10;
    // 不重覆
    background-repeat: no-repeat;
    // 背景圖片 置中對齊
    background-position: $PosiTion;
    // 背景圖片尺寸
    background-size: $Size;
    // 背景圖片
    background-image: url(../../images/#{$Material}/#{$Image});
}

// 手機版選單
@mixin PhoneMenu($PosiTion, $Size, $Material, $Image) {
    // 變數設定 1.對齊 $PosiTion  2.尺寸 $Size 3.資料夾位置 $Material ；圖片 $Image
    // 問題：路徑無法直接讀取變數名稱
    // 解答：scss提供的語法，插值寫法（基於 javascript 的 es6 語法），#{ 自訂名稱（只能英文和數字）}，例如：#{$Image}，寫在路徑上
    // 不重覆
    background-repeat: no-repeat;
    // 背景圖片 置中對齊
    background-position: $PosiTion;
    // 背景圖片尺寸
    background-size: $Size;
    // 背景圖片
    background-image: url(../../images/#{$Material}/#{$Image});
}

// 圓角矩形
@mixin Rounded($Num) {
    // 邊框角度設定，建議單位為 像素
    border-radius: $Num + px;
}

// 限量商品 架構
// 標題寬度 標題文字倍數 庫存文字倍數 外框寬度 商品框架背景顏色 內文字距 圖片圓角 圖片邊線
@mixin LiMer(
    $TWM,
    $TFSFSM,
    $NFSFSM,
    $MainW,
    $BR,
    $BG,
    $BB,
    $TitleLe,
    $ImagesRa,
    $LineS
) {
    // 計算式
    $TW: $W1P * $TWM;
    $NW: $W1P * 10 - $TW;

    $TFS: $Trem * $TFSFSM;
    $NFS: $Trem * $NFSFSM;

    // 寬度 $W10 * 8
    width: $MainW;
    // 外間距
    margin: {
        bottom: 20px;
    }
    // 背景顏色 255, 255, 255
    background-color: rgb($BR, $BG, $BB);
    // 陰影 x軸 y軸 模糊 顏色
    box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);

    > #TitleBox {
        // 寬度
        width: $W1P * 8.5;
        // 彈性佈局
        display: flex;
        // 換行
        flex-wrap: wrap;
        // 隱藏項目符號
        list-style-type: none;
        // 字距 2px
        letter-spacing: $TitleLe;
        // 與外框的距離，設定為內間距
        padding: {
            top: 15px;
            bottom: 10px;
        }

        > .Title {
            width: $TW;
            font-size: $TFS;
        }
        > .Number {
            width: $NW;
            font-size: $NFS;
            text-align: right;
            // 計算 Title 與 Number 內間距的差
            padding: {
                top: $TFS - $NFS;
            }
        }
        > .Text {
            width: $W1P * 10;
            text-align: right;
        }
    }

    > .Images {
        // 寬度
        width: 280px;
        // 外間距
        margin: {
            bottom: 10px;
        }
        // 圓角矩形 邊框設定轉角的角度 15px
        border-radius: $ImagesRa;

        // background-color: yellowgreen;

        > a {
            > img {
                // 圖片邊框 線段的粗細 1.5px 線段的樣式（實線） 顏色
                border: $LineS solid rgb(68, 7, 7);
                border-radius: $ImagesRa;
            }
        }
    }

    > .LNameBox {
        width: $W1P * 9;
        // 彈性佈局 橫向排版
        display: flex;
        // 外間距
        margin: {
            bottom: 15px;
        }
        > h3 {
            width: $TW + 10;
            // 文字尺寸
            font-size: $Trem * 1.4;
        }
        > li {
            width: $NW - 10;
            // 隱藏項目符號
            list-style-type: none;
        }
    }

    > .Brief {
        // 寬度
        width: $W1P * 8.5;
        // 文字對齊 左右切齊
        text-align: justify;
        // 外間距
        margin: {
            bottom: 10px;
        }
    }

    > #PriceBox {
        // 寬度
        width: $W1P * 9;
        // 隱藏項目符號
        list-style-type: none;
        // 彈性佈局
        display: flex;
        // 外間距
        padding: {
            bottom: 10px;
        }

        > .OriginalPrice {
            // 寬度
            width: $W1P * 3.5;
            // 文字尺寸
            font-size: $Trem * 0.9;
            // 內間距
            padding: {
                top: $Trem * 0.3;
            }

            > span {
                padding: {
                    left: 5px;
                    right: 5px;
                }
                // 文字顏色
                color: blue;
            }
        }
        > .BargainPrice {
            // 寬度
            width: $W1P * 4.5;
            // 文字尺寸
            font-size: $Trem * 1.2;

            > span {
                // em or rem 的尺寸，基於 根目錄 之下的值為基準
                font-size: $Trem * 1.7;
                padding: {
                    left: 5px;
                    right: 5px;
                }
                // 文字顏色
                color: brown;
                // 文字粗細
                font-weight: 600;
            }
        }
        > .Car {
            // 寬度
            width: $W1P * 2;
        }
    }
}
