@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
}

body,
html {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

/* 
文字尺寸 單位 px（固定值） em（百分比，會疊加父框架設定的值） rem（百分比，不會疊加父框架設定的值）
em 基礎為 1em = 16px ；rem 基礎為 1rem = 16px
*/
/* 
You may not @extend an outer selector from within @media.
You may only @extend selectors within the same directive.
無法由 @media（媒體判斷）去呼叫「外部連結檔」
*/
@media screen and (max-width: 576px) {
  header {
    width: 100%;
    background-color: violet;
  }
  header > #MainNav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: wheat;
  }
  header > #MainNav > #Icon {
    width: 100%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header > #MainNav > #Icon > .item {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: red;
  }
  header > #MainNav > h1 {
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: brown;
  }
  header > #MainNav > #Navber {
    width: 100%;
    height: 60px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header > #MainNav > #Navber > .Line {
    width: 5px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 60px;
  }
  header > #MainNav > #Navber > .MenuBtn {
    width: 60px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../../images/icon/menu.svg);
  }
  header > #MenuNav {
    width: 100%;
    height: 100%;
    position: absolute;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 9999;
    background-color: white;
  }
  header > #MenuNav > #Close {
    width: 40px;
    height: 40px;
    list-style-type: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rosybrown;
  }
  header > #MenuNav > h1 {
    width: 100%;
    height: 110px;
    text-align: center;
    line-height: 110px;
    background-color: yellowgreen;
  }
  header > #MenuNav > ul {
    width: 90%;
    position: relative;
    top: 50%;
    margin-top: -260px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: salmon;
  }
  header > #MenuNav > ul > .Item {
    width: 45%;
    height: 70px;
    margin-bottom: 10px;
    background-color: sandybrown;
  }
  header > #MenuNav > ul > .Itemtwo {
    width: 30.33333%;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  header > #MenuNav > ul > .Milk {
    background-color: slateblue;
  }
  footer hr {
    margin-bottom: 2rem;
  }
  footer nav {
    margin-bottom: 2rem;
  }
  footer nav ul {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    font-size: 0.9rem;
  }
  footer div {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 0.75rem;
    letter-spacing: 1px;
  }
  footer address {
    display: none;
  }
  #Main {
    width: 100vw;
  }
  #Main #Banner {
    width: 100vw;
    overflow: hidden;
    position: relative;
    margin-top: 190px;
  }
  #Main #Banner .Btn {
    width: 20px;
    height: 95px;
    text-align: center;
    line-height: 95px;
    font-size: 1.2rem;
    position: absolute;
    z-index: 15;
    top: 120px;
    border-radius: 15px;
  }
  #Main #Banner .LeftBtn {
    left: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner .RightBtn {
    right: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner #ImgBox {
    width: 100vw;
    list-style-type: none;
    padding-bottom: 335px;
    background-color: cadetblue;
  }
  #Main #Banner #ImgBox li {
    width: 100vw;
    float: left;
    position: absolute;
    font-size: 72px;
    text-align: center;
    padding-bottom: 335px;
  }
  #Main #Banner #ImgBox .Item01 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/005.jpg);
  }
  #Main #Banner #ImgBox .Item02 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/004.jpg);
  }
  #Main #Banner #ImgBox .Item03 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/003.jpg);
  }
  #Main #Banner #ImgBox .Item04 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/002.jpg);
  }
  #Main #Banner #ImgBox .Item05 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/001.jpg);
  }
  #Main > #Limited {
    background-image: url(../../images/BG/001.gif);
  }
  #Main > #Limited > h1 {
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #Limited > article > .Commodity {
    width: 90%;
    margin-bottom: 20px;
    background-color: white;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
  }
  #Main > #Limited > article > .Commodity > #TitleBox {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  #Main > #Limited > article > .Commodity > #TitleBox > .Title {
    width: 70%;
    font-size: 1.7rem;
  }
  #Main > #Limited > article > .Commodity > #TitleBox > .Number {
    width: 30%;
    font-size: 1.1rem;
    text-align: right;
    padding-top: 0.6rem;
  }
  #Main > #Limited > article > .Commodity > #TitleBox > .Text {
    width: 100%;
    text-align: right;
  }
  #Main > #Limited > article > .Commodity > .Images {
    width: 92%;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  #Main > #Limited > article > .Commodity > .Images > a > img {
    border: 1.5px solid #440707;
    border-radius: 15px;
  }
  #Main > #Limited > article > .Commodity > .LName {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #Limited > article > .Commodity > .LName > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #Limited > article > .Commodity > .LName > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #Limited > article > .Commodity > .Brief {
    width: 85%;
    text-align: justify;
    margin-bottom: 10px;
  }
  #Main > #Limited > article > .Commodity > #PriceBox {
    width: 90%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .OriginalPrice {
    width: 35%;
    font-size: 0.9rem;
    padding-top: 0.5rem;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .OriginalPrice > span {
    padding-left: 5px;
    padding-right: 5px;
    color: blue;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .BargainPrice {
    width: 45%;
    font-size: 1.2rem;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .BargainPrice > span {
    font-size: 1.7rem;
    padding-left: 5px;
    padding-right: 5px;
    color: brown;
    font-weight: 600;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .Car {
    width: 20%;
  }
  #Main > #Limited > .more {
    width: 80%;
    text-align: right;
    list-style-type: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 15px;
  }
  #Main > #Limited > .more > a {
    padding: 5px 30px;
    display: inline-block;
    background-color: #af3700;
    text-decoration: none;
    color: white;
    border-radius: 20px;
  }
  #Main > #Share {
    background-image: url(../../images/BG/002.gif);
  }
  #Main > #Share > h1 {
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #Share > article > .Commodity {
    width: 90%;
    margin-bottom: 20px;
    background-color: white;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
  }
  #Main > #Share > article > .Commodity > .Null {
    height: 30px;
  }
  #Main > #Share > article > .Commodity > .Images {
    width: 92%;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  #Main > #Share > article > .Commodity > .Images > a > img {
    border: 1.5px solid #440707;
    border-radius: 15px;
  }
  #Main > #Share > article > .Commodity > .LName {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #Share > article > .Commodity > .LName > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #Share > article > .Commodity > .LName > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #Share > article > .Commodity > .Brief {
    width: 85%;
    text-align: justify;
    padding-bottom: 20px;
  }
  #Main > #Share > .more {
    width: 80%;
    text-align: right;
    list-style-type: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 15px;
  }
  #Main > #Share > .more > a {
    padding: 5px 30px;
    display: inline-block;
    background-color: #af3700;
    text-decoration: none;
    color: white;
    border-radius: 20px;
  }
}

@media screen and (min-width: 576px) {
  header {
    width: 100%;
    background-color: violet;
  }
  header > #MainNav > #Icon {
    width: 100%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header > #MainNav > #Icon > .item {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: red;
  }
  header > #MainNav > h1 {
    width: 100%;
    height: 80px;
    text-align: center;
  }
  header > #MainNav > #Navber {
    width: 100%;
    height: 60px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header > #MainNav > #Navber > .Line {
    width: 5px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 60px;
  }
  header > #MainNav > #Navber > .MenuBtn {
    width: 60px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../../images/icon/menu.svg);
  }
  header > #MenuNav {
    width: 100%;
    height: 100%;
    position: absolute;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 9999;
    background-color: white;
    display: none;
  }
  header > #MenuNav > #Close {
    width: 40px;
    height: 40px;
    list-style-type: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rosybrown;
  }
  header > #MenuNav > h1 {
    width: 100%;
    height: 110px;
    text-align: center;
    line-height: 110px;
    background-color: yellowgreen;
  }
  header > #MenuNav > ul {
    width: 90%;
    position: relative;
    top: 50%;
    margin-top: -260px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: salmon;
  }
  header > #MenuNav > ul > .Item {
    width: 45%;
    height: 70px;
    margin-bottom: 10px;
    background-color: sandybrown;
  }
  header > #MenuNav > ul > .Itemtwo {
    width: 30.33333%;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  header > #MenuNav > ul > .Milk {
    background-color: slateblue;
  }
  footer {
    margin-top: 2rem;
  }
  footer hr {
    margin-bottom: 2rem;
  }
  footer nav {
    margin-bottom: 2rem;
  }
  footer nav ul {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    background-color: #7b8f9b;
  }
  footer p {
    text-align: center;
    margin-bottom: 0.7rem;
  }
  footer address {
    display: none;
  }
  #Main {
    width: 100vw;
    background-color: burlywood;
  }
  #Main #Banner {
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
  #Main #Banner .Btn {
    width: 20px;
    height: 95px;
    text-align: center;
    line-height: 95px;
    font-size: 1.2rem;
    position: absolute;
    z-index: 15;
    top: 145px;
    border-radius: 15px;
  }
  #Main #Banner .LeftBtn {
    left: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner .RightBtn {
    right: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner #ImgBox {
    width: 100vw;
    list-style-type: none;
    padding-bottom: 385px;
    background-color: #865fa0;
  }
  #Main #Banner #ImgBox li {
    width: 100vw;
    float: left;
    position: absolute;
    font-size: 72px;
    text-align: center;
    padding-bottom: 385px;
  }
  #Main #Banner #ImgBox .Item01 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/005.jpg);
  }
  #Main #Banner #ImgBox .Item02 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/004.jpg);
  }
  #Main #Banner #ImgBox .Item03 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/003.jpg);
  }
  #Main #Banner #ImgBox .Item04 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/002.jpg);
  }
  #Main #Banner #ImgBox .Item05 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/001.jpg);
  }
  #Main > #Limited {
    background-image: url(../../images/BG/001.gif);
  }
  #Main > #Limited > h1 {
    width: 100%;
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #Limited > article {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #Main > #Limited > article > .Commodity {
    width: 48%;
    margin-bottom: 20px;
    background-color: white;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
  }
  #Main > #Limited > article > .Commodity > #TitleBox {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  #Main > #Limited > article > .Commodity > #TitleBox > .Title {
    width: 70%;
    font-size: 1.7rem;
  }
  #Main > #Limited > article > .Commodity > #TitleBox > .Number {
    width: 30%;
    font-size: 1.1rem;
    text-align: right;
    padding-top: 0.6rem;
  }
  #Main > #Limited > article > .Commodity > #TitleBox > .Text {
    width: 100%;
    text-align: right;
  }
  #Main > #Limited > article > .Commodity > .Images {
    width: 85%;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  #Main > #Limited > article > .Commodity > .Images > a > img {
    border: 1.5px solid #440707;
    border-radius: 15px;
  }
  #Main > #Limited > article > .Commodity > .LName {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #Limited > article > .Commodity > .LName > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #Limited > article > .Commodity > .LName > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #Limited > article > .Commodity > .Brief {
    width: 85%;
    text-align: justify;
    margin-bottom: 10px;
  }
  #Main > #Limited > article > .Commodity > #PriceBox {
    width: 90%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .OriginalPrice {
    width: 35%;
    font-size: 0.8rem;
    padding-top: 0.3rem;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .OriginalPrice > span {
    padding-left: 5px;
    padding-right: 5px;
    color: blue;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .BargainPrice {
    width: 45%;
    font-size: 1.2rem;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .BargainPrice > span {
    font-size: 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
    color: brown;
    font-weight: 600;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .Car {
    width: 20%;
  }
  #Main > #Limited > .more {
    width: 80%;
    text-align: right;
    list-style-type: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 15px;
  }
  #Main > #Limited > .more > a {
    padding: 5px 30px;
    display: inline-block;
    background-color: #af3700;
    text-decoration: none;
    color: white;
    border-radius: 20px;
  }
  #Main > #Share {
    background-image: url(../../images/BG/002.gif);
  }
  #Main > #Share > h1 {
    width: 100%;
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #Share > article {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #Main > #Share > article > .Commodity {
    width: 45%;
    margin-bottom: 20px;
    background-color: white;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
  }
  #Main > #Share > article > .Commodity > .Null {
    height: 30px;
  }
  #Main > #Share > article > .Commodity > .Images {
    width: 85%;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  #Main > #Share > article > .Commodity > .Images > a > img {
    border: 1.5px solid #440707;
    border-radius: 15px;
  }
  #Main > #Share > article > .Commodity > .LName {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #Share > article > .Commodity > .LName > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #Share > article > .Commodity > .LName > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #Share > article > .Commodity > .Brief {
    width: 85%;
    text-align: justify;
    padding-bottom: 20px;
  }
  #Main > #Share > .more {
    width: 80%;
    text-align: right;
    list-style-type: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 15px;
  }
  #Main > #Share > .more > a {
    padding: 5px 30px;
    display: inline-block;
    background-color: #af3700;
    text-decoration: none;
    color: white;
    border-radius: 20px;
  }
}

@media screen and (min-width: 768px) {
  header {
    width: 100vw;
    background-color: violet;
  }
  header > #MainNav {
    /* 
        浮動對齊的問題 float
        1. #YudoLogo 與.YudoBtnBox 物件的父框架 nav，無寬度
        2. nav 的父框架 header ，高度消失（展開）
        解決方式
        1. nav 的父框架 header，給予高度；或是 nav 給予高度
        2. 清除浮動狀態，由 nav 設定
        3. 利用圖片高度撐開父框架的高
        */
    width: 100vw;
    background-color: #c7b3f5;
  }
  header > #MainNav #YudoLogo {
    float: left;
    background-color: yellowgreen;
  }
  header > #MainNav #YudoIcon {
    display: none;
  }
  header > #MainNav .YudoBtnBox {
    display: none;
  }
  header > #MainNav #MenuBtn {
    float: left;
  }
  header > #MainNav .Clear {
    clear: both;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  /*
大平版裝置的 Icon 與 BtnBox取消「隱藏顯示」，但無法讀取。
因為，媒體判斷的順序是由 小尺寸語法 至 大尺寸，故 大尺寸 沒有下達任何語法時，會直接直判讀至小尺寸
*/
  header {
    width: 100vw;
    background-color: yellowgreen;
  }
  header > #MainNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header > #MainNav #YudoLogo {
    width: 70vw;
  }
  header > #MainNav #YudoIcon {
    display: block;
    width: 30vw;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header > #MainNav .YudoBtnBox {
    display: block;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  header > #MainNav .YudoBtnBox ul {
    display: none;
  }
  header > #MainNav #MenuBtn {
    display: none;
  }
  footer address {
    display: none;
  }
  #Main {
    width: 100vw;
    background-color: burlywood;
  }
  #Main #Banner {
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
  #Main #Banner .Btn {
    width: 20px;
    height: 95px;
    text-align: center;
    line-height: 95px;
    font-size: 1.2rem;
    position: absolute;
    z-index: 15;
    top: 227.5px;
    border-radius: 15px;
  }
  #Main #Banner .LeftBtn {
    left: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner .RightBtn {
    right: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner #ImgBox {
    width: 100vw;
    list-style-type: none;
    padding-bottom: 550px;
    background-color: #865fa0;
  }
  #Main #Banner #ImgBox li {
    width: 100vw;
    float: left;
    position: absolute;
    font-size: 72px;
    text-align: center;
    padding-bottom: 550px;
  }
  #Main #Banner #ImgBox .Item01 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/005.jpg);
  }
  #Main #Banner #ImgBox .Item02 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/004.jpg);
  }
  #Main #Banner #ImgBox .Item03 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/003.jpg);
  }
  #Main #Banner #ImgBox .Item04 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/002.jpg);
  }
  #Main #Banner #ImgBox .Item05 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/001.jpg);
  }
  #Main > #Limited {
    background-image: url(../../images/BG/001.gif);
  }
  #Main > #Limited > h1 {
    width: 100%;
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #Limited > article {
    width: 95%;
  }
  #Main > #Limited > article > .Commodity {
    width: 30.33333%;
    margin-bottom: 20px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: white;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
  }
  #Main > #Limited > article > .Commodity > #TitleBox {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  #Main > #Limited > article > .Commodity > #TitleBox > .Title {
    width: 70%;
    font-size: 1.7rem;
  }
  #Main > #Limited > article > .Commodity > #TitleBox > .Number {
    width: 30%;
    font-size: 1.1rem;
    text-align: right;
    padding-top: 0.6rem;
  }
  #Main > #Limited > article > .Commodity > #TitleBox > .Text {
    width: 100%;
    text-align: right;
  }
  #Main > #Limited > article > .Commodity > .Images {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  #Main > #Limited > article > .Commodity > .Images > a > img {
    border: 1.5px solid #440707;
    border-radius: 15px;
  }
  #Main > #Limited > article > .Commodity > .LName {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #Limited > article > .Commodity > .LName > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #Limited > article > .Commodity > .LName > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #Limited > article > .Commodity > .Brief {
    width: 85%;
    text-align: justify;
    margin-bottom: 10px;
  }
  #Main > #Limited > article > .Commodity > #PriceBox {
    width: 90%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .OriginalPrice {
    width: 35%;
    font-size: 0.9rem;
    padding-top: 0.3rem;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .OriginalPrice > span {
    padding-left: 5px;
    padding-right: 5px;
    color: blue;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .BargainPrice {
    width: 45%;
    font-size: 1.2rem;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .BargainPrice > span {
    font-size: 1.7rem;
    padding-left: 5px;
    padding-right: 5px;
    color: brown;
    font-weight: 600;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .Car {
    width: 20%;
  }
  #Main > #Limited > .more {
    width: 80%;
    text-align: right;
    list-style-type: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 15px;
  }
  #Main > #Limited > .more > a {
    padding: 5px 30px;
    display: inline-block;
    background-color: #af3700;
    text-decoration: none;
    color: white;
    border-radius: 20px;
  }
  #Main > #Share {
    background-image: url(../../images/BG/002.gif);
  }
  #Main > #Share > h1 {
    width: 100%;
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #Share > article {
    width: 95%;
  }
  #Main > #Share > article > .Commodity {
    width: 30.33333%;
    margin-bottom: 20px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: white;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
  }
  #Main > #Share > article > .Commodity > .Null {
    height: 30px;
  }
  #Main > #Share > article > .Commodity > .Images {
    width: 85%;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  #Main > #Share > article > .Commodity > .Images > a > img {
    border: 1.5px solid #440707;
    border-radius: 15px;
  }
  #Main > #Share > article > .Commodity > .LName {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #Share > article > .Commodity > .LName > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #Share > article > .Commodity > .LName > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #Share > article > .Commodity > .Brief {
    width: 85%;
    text-align: justify;
    padding-bottom: 20px;
  }
  #Main > #Share > .more {
    width: 80%;
    text-align: right;
    list-style-type: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 15px;
  }
  #Main > #Share > .more > a {
    padding: 5px 30px;
    display: inline-block;
    background-color: #af3700;
    text-decoration: none;
    color: white;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    width: 100vw;
    background-color: #4e32cd;
  }
  footer address {
    display: none;
  }
  #Main {
    width: 100vw;
    background-color: burlywood;
  }
  #Main #Banner {
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
  #Main #Banner .Btn {
    width: 20px;
    height: 95px;
    text-align: center;
    line-height: 95px;
    font-size: 1.2rem;
    position: absolute;
    z-index: 15;
    top: 277.5px;
    border-radius: 15px;
  }
  #Main #Banner .LeftBtn {
    left: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner .RightBtn {
    right: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
  }
  #Main #Banner #ImgBox {
    width: 100vw;
    list-style-type: none;
    padding-bottom: 650px;
    background-color: #865fa0;
  }
  #Main #Banner #ImgBox li {
    width: 100vw;
    float: left;
    position: absolute;
    font-size: 72px;
    text-align: center;
    padding-bottom: 650px;
  }
  #Main #Banner #ImgBox .Item01 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/005.jpg);
  }
  #Main #Banner #ImgBox .Item02 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/004.jpg);
  }
  #Main #Banner #ImgBox .Item03 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/003.jpg);
  }
  #Main #Banner #ImgBox .Item04 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/002.jpg);
  }
  #Main #Banner #ImgBox .Item05 {
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../../images/Banner/001.jpg);
  }
  #Main > #Limited {
    background-image: url(../../images/BG/001.gif);
  }
  #Main > #Limited > h1 {
    width: 100%;
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #Limited > article {
    width: 80%;
  }
  #Main > #Limited > article > .Commodity {
    width: 24%;
    margin-bottom: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: white;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
  }
  #Main > #Limited > article > .Commodity > #TitleBox {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  #Main > #Limited > article > .Commodity > #TitleBox > .Title {
    width: 70%;
    font-size: 1.7rem;
  }
  #Main > #Limited > article > .Commodity > #TitleBox > .Number {
    width: 30%;
    font-size: 1.1rem;
    text-align: right;
    padding-top: 0.6rem;
  }
  #Main > #Limited > article > .Commodity > #TitleBox > .Text {
    width: 100%;
    text-align: right;
  }
  #Main > #Limited > article > .Commodity > .Images {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  #Main > #Limited > article > .Commodity > .Images > a > img {
    border: 1.5px solid #440707;
    border-radius: 15px;
  }
  #Main > #Limited > article > .Commodity > .LName {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #Limited > article > .Commodity > .LName > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #Limited > article > .Commodity > .LName > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #Limited > article > .Commodity > .Brief {
    width: 85%;
    text-align: justify;
    margin-bottom: 10px;
  }
  #Main > #Limited > article > .Commodity > #PriceBox {
    width: 90%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .OriginalPrice {
    width: 35%;
    font-size: 0.9rem;
    padding-top: 0.3rem;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .OriginalPrice > span {
    padding-left: 5px;
    padding-right: 5px;
    color: blue;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .BargainPrice {
    width: 45%;
    font-size: 1.2rem;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .BargainPrice > span {
    font-size: 1.7rem;
    padding-left: 5px;
    padding-right: 5px;
    color: brown;
    font-weight: 600;
  }
  #Main > #Limited > article > .Commodity > #PriceBox > .Car {
    width: 20%;
  }
  #Main > #Limited > .more {
    width: 80%;
    text-align: right;
    list-style-type: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 15px;
  }
  #Main > #Limited > .more > a {
    padding: 5px 30px;
    display: inline-block;
    background-color: #af3700;
    text-decoration: none;
    color: white;
    border-radius: 20px;
  }
  #Main > #Share {
    background-image: url(../../images/BG/002.gif);
  }
  #Main > #Share > h1 {
    width: 100%;
    font-size: 2.3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #Main > #Share > article {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #Main > #Share > article > .Commodity {
    width: 24%;
    margin-bottom: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: white;
    -webkit-box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.25);
  }
  #Main > #Share > article > .Commodity > .Null {
    height: 30px;
  }
  #Main > #Share > article > .Commodity > .Images {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  #Main > #Share > article > .Commodity > .Images > a > img {
    border: 1.5px solid #440707;
    border-radius: 15px;
  }
  #Main > #Share > article > .Commodity > .LName {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }
  #Main > #Share > article > .Commodity > .LName > h3 {
    width: 80%;
    font-size: 1.4rem;
  }
  #Main > #Share > article > .Commodity > .LName > li {
    width: 20%;
    list-style-type: none;
  }
  #Main > #Share > article > .Commodity > .Brief {
    width: 85%;
    text-align: justify;
    padding-bottom: 20px;
  }
  #Main > #Share > .more {
    width: 80%;
    text-align: right;
    list-style-type: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 15px;
  }
  #Main > #Share > .more > a {
    padding: 5px 30px;
    display: inline-block;
    background-color: #af3700;
    text-decoration: none;
    color: white;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1400px) {
  header {
    width: 100vw;
    background-color: #cd3266;
  }
  footer address {
    display: none;
  }
}
