@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

/* 
You may not @extend an outer selector from within @media.
You may only @extend selectors within the same directive.
無法由 @media（媒體判斷）去呼叫「外部連結檔」
*/
@media screen and (max-width: 576px) {
  header {
    width: 100%;
  }
  header nav #YudoIcon {
    display: none;
  }
  header nav .YudoBtnBox {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  header {
    width: 100%;
    background-color: aquamarine;
  }
  header nav #YudoIcon {
    display: none;
  }
  header nav .YudoBtnBox {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
    background-color: burlywood;
  }
  header nav #YudoIcon {
    display: none;
  }
  header nav .YudoBtnBox {
    display: none;
  }
  footer address {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  /*
大平版裝置的 Icon 與 BtnBox取消「隱藏顯示」，但無法讀取。
因為，媒體判斷的順序是由 小尺寸語法 至 大尺寸，故 大尺寸 沒有下達任何語法時，會直接直判讀至小尺寸
*/
  header {
    width: 100%;
    background-color: yellowgreen;
  }
  header nav #MenuBtn {
    display: none;
  }
  footer address {
    display: none;
  }
}
