// 子元素選擇器（有指向性）；例如 header > nav > #YudoIcon > li
#Main {
    width: $W10 * 10;
    background-color: burlywood;

    #Banner {
        width: $W10 * 10;
        // 溢位設定，將超出的可視範圍給隱藏
        overflow: hidden;
        // 定位點：相對定位
        position: relative;

        $ImgPadding: 335px;
        // 父框架的padding 335px - 子框架的padding 250px = 相差值 $Differ
        $Differ: 85px;
        .Btn {
            width: 20px;
            height: 95px;
            // 水平置中
            text-align: center;
            // 垂直置中 高度 = 行距
            line-height: 95px;
            font-size: $Trem * 1.2;
            // 定位點
            position: absolute;
            // 移動階層（圖層）
            z-index: 15;
            // 左右按鈕，物件往下推算高度；(物件的父框架的高 / 2) - (按鈕高度 / 2) + 單位
            top: ($ImgPadding / 2) - (95px / 2);
            @include Rounded(15);
        }
        .LeftBtn {
            left: 2.5vw;
            background-color: rgba(255, 255, 255, 0.25);
        }
        .RightBtn {
            // 方向 右邊為0（物件靠右對齊）；float 浮點對齊，配合 上下左右 方向推動
            right: 2.5vw;
            background-color: rgba(255, 255, 255, 0.25);
        }

        #ImgBox {
            width: $W10 * 10;
            @include DNli;
            // 內間距 設定 下方間距，當成圖片的高度，單位為 % or vh
            padding-bottom: $ImgPadding;
            background-color: cadetblue;
            li {
                width: $W10 * 10;
                float: left;
                // 定位點 絕對定位；1. 單獨呼叫時，原點（0,0）會位於畫面（可視範圍）的左上角
                // 2. 物件的父框架呼叫 相對定位（position: relative）時，功能設為「重新定位原點至父框架
                position: absolute;
                // 移動圖片位置；因為 不手機會有不同的中心位置，無法逐一計算，所以要利用 背景圖片 的方式修改
                // margin-left: -235px;
                font-size: 72px;
                text-align: center;
                // 內間距 設定 下方間距，當成圖片的高度，單位為 % or vh（會隨著裝置而改變）800px * 0.26 = 208px；固定值 px
                // 子框架的padding = 父框架的padding - 相差值 $Differ
                padding-bottom: $ImgPadding - $Differ;
            }
            .Item01 {
                @include BPhoto(center, cover, Banner, "005.jpg");
            }
            .Item02 {
                // 英文字在數字前，數字被判定為「文字」；數字在英文字或底線（ _ ）前，數字被為數字，「0」為開頭，scss會自動刪除
                // 數字要變為文字，需轉換為「字串」，字串用雙引號包覆
                @include BPhoto(center, cover, Banner, "004.jpg");
            }
            .Item03 {
                @include BPhoto(center, cover, Banner, "003.jpg");
            }
            .Item04 {
                @include BPhoto(center, cover, Banner, "002.jpg");
            }
            .Item05 {
                @include BPhoto(center, cover, Banner, "001.jpg");
            }
        }
    }

    > #Limited {
        > h1 {
            // 文字尺寸
            font-size: $Trem * 2 + $Trem * 0.3;
            // 標題置中
            text-align: center;
            // 內間距
            padding: {
                top: 15px;
                bottom: 15px;
            }
        }

        > .LCommodity {
            // 寬度
            width: $W10 * 8;
            // 外間距
            margin: {
                bottom: 20px;
            }
            // 重新定位原點 父框架設定 定位點：相對值 ；子框架設定 定位點：絕對值
            position: relative;

            // 背景顏色
            background-color: rgb(255, 255, 255);
            
            > #TitleBox {
                // 寬度
                width: $W1P * 8.5;
                // 彈性佈局
                display: flex;
                // 換行
                flex-wrap: wrap;
                // 隱藏項目符號
                list-style-type: none;
                // 字距
                letter-spacing: 2px;
                // 與外框的距離
                margin: {
                    top: 15px;
                    bottom: 15px;
                }
                // 定位點 絕對
                position: absolute;
                background-color: salmon;

                .Clear {
                    clear: both;
                }

                // 計算式
                $TW : $W1P * 7;
                $NW : $W1P * 10 - $TW;
                > .Title {
                    width: $TW;
                    font-size: $Trem * 1.7;
                }
                > .Number {
                    width: $NW;
                    font-size: $Trem * 1.1;
                    text-align: right;
                    background-color: darkkhaki;
                }
                > .Text {
                    width: $W1P * 10;
                    text-align: right;
                }
            }
    
            > .Images {
                background-color: yellowgreen;
            }

            > .LNameBox {
                background-color: yellow;
                > ul {
                    > li {
                        // 隱藏項目符號
                        list-style-type: none;
                    }
                }
            }

            > .Brief {
                background-color: rosybrown;
            }
        }
    }
}
