// 呼叫 html 標籤，例如： nav，稱作 類型選擇
// 呼叫 id ，例如 <li id="test"></li>，id="test"，「#」ID選擇器；「#test」
// 呼叫 class，class="test1"，「.」類別選擇器；「.test1」
// scss 1.巢狀寫法 2.變數 $yourname（設定計算用的基礎值） 3.繼承 %yourname（css3語法相同，但能集中呈現）；呼叫方式 @extend %yourname

// 目前使用的單位（數值）是 百分比（%）；網頁的固定單位--像素 px

header {
    // 寬度 100%;
    width: $W1P * 10;
    background-color: violet;
    > #MainNav {
        > #Icon {
            width: $W1P * 10;
            @include DNli;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            > .item {
                width: 50px;
                height: 50px;
                margin: {
                    left: 5px;
                    right: 5px;
                }
                background-color: red;
            }
        }
        > h1 {
            width: $W1P * 10;
            height: 80px;
            text-align: center;
        }
        > #Navber {
            width: $W1P * 10;
            height: 60px;
            @include DNli;
            display: flex;
            > .Line {
                width: 5px;
                font-size: $Trem * 1.5;
                text-align: center;
                line-height: 60px;
            }

            > .MenuBtn {
                width: 60px;
                text-indent: -9999px;
                @include PhoneMenu(center, contain, icon, "menu.svg");
            }
        }
    }
}

footer {
    // 物件之的間距值 vh rem
    margin-top: 2rem;

    hr {
        margin-bottom: 2rem;
    }

    // 手機版次導覽
    nav {
        margin-bottom: 2rem;

        ul {
            width: 90%;
            // 彈性佈局
            display: flex;
            @include DNli;
            background-color: rgb(123, 143, 155);
        }
    }

    // 版權宣告
    p {
        text-align: center;
        margin-bottom: 0.7rem;
    }
    address {
        //呼叫 混合函式
        @include DN;
    }
}
