// 分頁設定
#Main > #Limited #Pagination {
    // 讀入資料庫之後，再改為 % 
    width: 55px * 7;
    height: 55px;
    display: flex;
    list-style-type: none;
    
    .bar-left {
        width: 45px;
        height: 45px;
        font-size: 1.5rem;
        font-weight: 200;
        line-height: 45px;
        text-align: center;
        color: white;
        background-color: rgb(207, 129, 26);
    }
}
